<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Municipalidad Distrital de Chilete</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/PlantillaDeInicio/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/PlantillaDeInicio/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/PlantillaDeInicio/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/PlantillaDeInicio/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/PlantillaDeInicio/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/PlantillaDeInicio/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/PlantillaDeInicio/css/style.css" rel="stylesheet">

</head>

<body>
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <img src="~/PlantillaDeInicio/img/logomuni.png">

            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/Inicio/Inicio">HOME</a></li>
                    <li><a href="/Tramite/Tramite">TRAMITES</a></li>
                    <li><a href="/Noticia/Noticia">NOTICIAS</a></li>
                    <li><a href="/Convocatoria/Convocatoria">CONVOCATORIAS</a></li>
                    <li><a href="/Login/Login">INICIAR SESIÓN </a></li>
                    </ul>
                </nav>
        </div>
    </header>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/PlantillaDeInicio/lib/jquery/jquery.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/easing/easing.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/superfish/hoverIntent.js"></script>
    <script src="~/PlantillaDeInicio/lib/superfish/superfish.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/wow/wow.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/waypoints/waypoints.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/counterup/counterup.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/PlantillaDeInicio/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/PlantillaDeInicio/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/PlantillaDeInicio/js/main.js"></script>

</body>
@RenderBody()
</html>
