
@{
    ViewBag.Title = "Editar";
}

<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Editar tramite</h3></div>
                <div id="inputs" class="panel-body">

                    <form action="/Tramite/Editar?id=@Model.Id_Tramite" method="post">
                        <div>
                            <label class="control-label">Nombre :</label>
                            <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" />
                            @Html.ValidationMessage("Nombre")
                        </div>
                        <div>
                            <label class="control-label">Descripcion :</label>
                            <input class="form-control" type="text" name="Descripcion" value="@Model.Descripcion" />
                            @Html.ValidationMessage("Descripcion")
                        </div>
                        <br />
                        <a class="pull-left btn btn-danger" href="/Tramite/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</a>
                        <button id="btnGuardar" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-saved"></span> Guardar</button>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

